<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\kmpre\Desktop\web dev\CSharp\TournamentAPP"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=.\KABELOLAPTOP\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		
	</startup>
</configuration>